%h1 Listing discussions

%table
  %thead
    %tr
      %th Body
      %th Basketball
      %th
      %th
      %th

  %tbody
    - @discussions.each do |discussion|
      %tr
        %td= discussion.body
        %td= discussion.basketball
        %td= link_to 'Show', discussion
        %td= link_to 'Edit', edit_discussion_path(discussion)
        %td= link_to 'Destroy', discussion, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Discussion', new_discussion_path
