%h1 Listing discussions

%table
  %thead
    %tr
      %th Body
      %th Basketball
      %th
      %th
      %th

  %tbody
    - @discussions.each do |discussion|
      %tr
        %td= discussion.body
        %td= discussion.basketball.name
        %td= link_to 'Show Player', [@basketball]
        %td= link_to 'Edit Post', edit_basketball_discussion_path(@basketball, discussion)
        %td= link_to 'Destroy Post', [@basketball, discussion], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Discussion', new_basketball_discussion_path(@basketball)
