%p#notice= notice

%p
  %b Body:
  = @discussion.body
%p
  %b Player:
  = @discussion.basketball.name

= link_to 'Edit', edit_basketball_discussion_path(@basketball, @discussion)
\|
= link_to 'Back', basketball_discussions_path(@basketball)
