%h1 Basketball Players

%table
  %thead
    %tr
      %th Name
      %th Team
      %th Facts
      %th{:colspan => "3"}

  %tbody
    - @basketballs.each_with_index do |basketball, i|
      - row_class = ""
      - if i % 2 == 0
        - row_class = "even"
      -else
        - row_class = "odd"

      %tr
        %td{:class => "#{row_class}"}= basketball.name
        %td{:class => "#{row_class}"}= basketball.team
        %td{:class => "#{row_class}"}= basketball.facts
        %td{:class => "#{row_class}"}= button_to 'Show', basketball_path(:id => basketball.id), :method => :get
        %td{:class => "#{row_class}"}= button_to 'Edit', edit_basketball_path(:id => basketball.id), :method => :get
        %td{:class => "#{row_class}"}= button_to 'Destroy', basketball_path(:id => basketball.id), :method => :delete

%br

= link_to 'New Basketball', new_basketball_path
