%p#notice= notice

%p
  %b Name:
  = @basketball.name
%p
  %b Team:
  = @basketball.team
%p
  %b Facts:
  = @basketball.facts
%b Discussions

= render 'basketballs/posts'

= link_to 'Edit', edit_basketball_path(@basketball)
\|
= link_to 'Back', basketballs_path

%div{"data-controller" => "discussions"}
  %button{"data-action" => "discussions#showAll"} Show Older Discussions
  %div{"data-target" => "discussions.show", :style => "visibility:hidden"}
    = render 'basketballs/all'
