%p#notice= notice

.jumbotron
  %h2.display-6
    = @basketball.name
  %p
    %b Team:
    = @basketball.team
    %br
    %br
    %b Facts:
    = @basketball.facts
    %br
    %br
    = link_to 'Edit', edit_basketball_path(@basketball), class:"btn btn-light"
    = link_to 'Back', basketballs_path, class:"btn btn-light"

%h2 Discussions
= render 'basketballs/posts'

%div{"data-controller" => "discussions"}
  %button{"data-action" => "discussions#showAll"} Show Older Discussions
  %div{"data-target" => "discussions.show", :style => "visibility:hidden"}
    = render 'basketballs/all'
