%p#notice= notice

%p
  %b Name:
  = @basketball.name
%p
  %b Team:
  = @basketball.team
%p
  %b Facts:
  = @basketball.facts
%h2 Discussions
  - for discussion in @basketball.discussions
    %ul
      %li= discussion.body
= link_to 'Edit', edit_basketball_path(@basketball)
\|
= link_to 'Back', basketballs_path
\|
= link_to 'Add Post', basketball_discussions_path(@basketball)
